:root {
/* The default text size in browsers is 16px. So, the default size of 1rem is 16px. */
    --letter-spacing: 0.1rem;
    
    --fs: 1rem;
    }
    
html {
    font-size: var(--fs);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing);
  }

body {
  max-width: 90vw;
  margin: auto;
  background-color: hsla(160, 3%, 88%, 0.53);
}

h1 {
    text-align: center;
    padding: 2%;
}

#subBut {
    transition: all 1.5s ease;
}

#subBut:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

.nameParas {
    display: flex;
    gap: 0.2rem;
}

#comBox {
    margin: 0;
}

.exceededChars {
    color: firebrick;
    border-style: dashed;
    border-color: firebrick;
    outline: none;
}

